################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Microservices2/.vs/Microservices2/FileContentIndex/529cdb69-b45a-44c9-a903-bc8c69f2d357.vsidx
